<!-- <h1 [ngStyle]="{ color:textColor }" ]>Welcome to {{title}}</h1> -->
<!-- <h1 [textContent]=" title "></h1>
<img src="{{imageSrc}} ">
<button (click)="handleBtnClick()">Click</button>
<app-hello>
</app-hello>
<app-hi></app-hi> -->

<!-- Test Output -->
<!-- <div class="container">
    <app-app-item-output (newItemEvent)="addItem($event)">
    </app-app-item-output>
    <ul>
        <li *ngFor="let item of items">{{item}}</li>
    </ul>
</div>
 -->

<!-- Test Input -->
<!-- <app-iput-item [item]="currentItem"></app-iput-item> -->

<!-- <form-editor></form-editor> -->

<!-- <app-sizer (emitValue)="addItem($event)"></app-sizer>
<ul>
    <li *ngFor="let x of item">{{x}}</li>
</ul> -->
<!-- <app-show></app-show> -->
<button (click)="onButtonClick()">Parent Change</button>
<app-input [text]="currentText" (buttonClick)="OnBtnClickFormHello($event)> </app-input>